
# Exclude specific files
# ----------------------

ternaryplot_Linux_commit.sh
ternaryplot_linux_install.R

# Package tar.gz source, zip binaries 
# and pdf manual
# -----------------------------------

/pkg/*.gz
/pkg/*.zip
/pkg/*.pdf

# R CMD CHECK residuals
# ---------------------

/pkg/ternaryplot.Rcheck
/pkg/ternaryplot/ternaryplot-Ex.R

# Linux backup files
# ------------------

*.R~
*.TXT~
*.sh~
*.gitignore~
/pkg/ternaryplot/NEWS~

/pkg/binaryArchive/*.gz
/pkg/binaryArchive/*.pdf
/pkg/ternaryplot/inst/doc/*.html
/pkg/binaryArchive
