/pkg/*.gz
/pkg/*.zip
/pkg/ternaryplot.Rcheck
/pkg/ternaryplot/ternaryplot-Ex.R
/pkg/ternaryplot/R/*.R~
/*.TXT~
/.gitignore~
/prepare/*.R~
/pkg/*.pdf
/ternaryplot_Linux_commit.sh
/ternaryplot_Linux_commit.sh~

